

.photodiary {
  padding-bottom: 124px;
}
.photodiary p {
  padding-bottom: 48px;
}

.box-contents {
  width: 900px;
  margin: 0 auto;   
}

.box-contents img {
  width: 421px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 130px;
}

.text-wrapper {
  padding-top: 32px;
  width: 414px;
  
}

.text-wrapper p {
  height: 62px;
  overflow: hidden;
}

.box-contents a:hover {
  opacity: 0.7;
}

.sign-up {

  background-color: #f0f0f0;
  padding-top: 71px;
  text-align: center;
  padding-bottom: 75px;
  margin-bottom: 104px;
}



#email {
  width: 300px;
  border: none;
  outline: none;
  background-color: #f0f0f0;
  font-family: "Playfair Display";
  font-size: 14px;
  color: #626262;
}

#email:hover {
  opacity: 0.7;
}

#send {
  border: none;
  outline: none;
}

#send:hover {
  opacity: 0.7;
}

#post {
  width: 398px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 81px;
  padding-bottom: 12px;
  border-bottom: 1px solid #626262;
}

.sign-up h3 {
  font-family: "Playfair Display";
  font-size: 30px;
  letter-spacing: 0.25;
}

.sign-up h3,#post {
  color: #333333;

}



.load-more {
  width: 188px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 1376px;
}

.load-more a {
  font-family: "Playfair Display";
  color: #626262;
  font-size: 20px;
  padding-top: 22px;
  padding-bottom: 22px; 
  padding-left: 34px;
  padding-right: 34px;
  border: 1px solid #626262;
}

.load-more a:hover {
  opacity: 0.7;
}

@media  screen and (max-width:768px) {
  .photodiary {
    padding-bottom: 62px;
  }
  .photodiary p {
    padding-bottom: 24px;
  }
  
  .box-contents {
    
    width: 100%;
    margin: 0;  
    padding: 0 20px;

  }
  
  .box-contents img {
    width: 100%;
  }
  
  .row {
    display: block;
    padding-bottom: 40px;
  }

  .ro {
    padding-bottom: 40px;
  }
  
  .text-wrapper {
    padding-top: 16px;
    width: 100%;
    
  }
  
  .text-wrapper p {
    height: 62px;
  }
  
  .sign-up {
    padding-top: 35px;
    text-align: center;
    padding-bottom: 37px;
    margin-bottom: 52px;
  }
  
  
  
  #email {
    width: 80%;
    font-size: 12px;
    
  }
  
  
  #post {
    width: 80%;
    padding-top: 40px;
    padding-bottom: 6px;
    
  }
  
  .sign-up h3 {
    font-size: 20px;
  }
  
  .sign-up h3,#post {
    color: #333333;
  
  }
  
  
  
  .load-more {
    width: 100%;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 600px;
    text-align: center;
  }
  
  .load-more a {
    font-size: 14px;
    padding-top: 11px;
    padding-bottom: 11px; 
    padding-left: 17px;
    padding-right: 17px;
    border: 1px solid #626262;
  }
  
  
}
