.contents {
  width: 1059px;
  display: flex;
  justify-content: space-between;
  
  margin: 0 auto;
}

.left-contents {
  width: 732px;
  padding-left: 71px;

}

.photodiary,.da {
  width: 662px;
}

.sns-wrapper {
  width: 662px;
}
.sns-wrapper ul {
  padding-left: 460px;
}


.right-contents {
  width: 272px;
}

.about-me {
  padding-top: 95px;
}

.about-me img {
  padding-bottom: 33px;
}

.insta {
  padding-left: 14px;
  padding-right: 14px;
}

.about-me-sns {
  padding-top: 24px;
  padding-bottom: 78px;
}

.about-me-sns a:hover {
  opacity: 0.7;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #c5c4c0;
  margin-right: 19px;
  margin-top: 10px;
}

.top-post ul li {
  display: flex;
 
}

.coment {
  font-family: "ubuntu";
  color: #b4ad9e;
  font-weight: 100;
  font-size: 9px;
  padding-top: 14px;
  padding-bottom: 32px;
}

.po a p:hover {
  border-bottom: 1px solid #626262;

}

.banner-spot {
  padding-top: 32px;
}

.banner-spot a img:hover {
  opacity: 0.7;
}

@media screen and (max-width:768px) {
  .contents {
    width: 100%;
    display: block;
    
    
    margin: 0;
  }
  
  .left-contents {
    width: 100%;
    padding-left: 0px;
    
  
  }
  
  .photodiary,.da {
    width: 100%;
  }
  
  .sns-wrapper {
    width: 100%;
  }
  .sns-wrapper ul {
    padding-left: 0;
  }
  
  
  .right-contents {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .about-me {
    padding-top: 35px;
  }
  
  .about-me img {
    padding-bottom: 10px;
  }
  .about-me-img {
    width: 100%;
  }
  
  .insta {
    padding-left: 14px;
    padding-right: 14px;
  }
  
  .about-me-sns {
    padding-top: 20px;
    padding-bottom: 39px;
    text-align: right;
    padding-right: 20px;
  }
  
  .coment {
    font-size: 9px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  .banner-spot {
    padding-top: 20px;
    text-align: center;
  }
  

  
  
}
